.site-navigation {
	width: 100%;
	text-align: center;
}

.site-navigation a {
	font-weight: 600;
	font-size: large;
	text-decoration: none;

	&:hover {
		color: #ff9a91;
	}
}

a {
	color: #F58275;
}

body {
	background-color: #16141F;
	color: #F5F5F7;
}

p {
	color: #DEDCE4;
}